version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile-live
    ports:
      - "80:3000"
    restart: always
    environment:
      NODE_ENV: production

# docker-compose up -d --build