  name: CI flow 
  
  on:
    push:
      branches: [ main ]
    pull_request: 
      types: [opened, synchronize]
  
  jobs:
    build: 
      runs-on: ubuntu-latest

      steps: 
      - name: Checkout code 
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Build Docker image
        run: docker build -t criminal-map -f Dockerfile-live .

      - name: Run lint inside Docker
        run: docker run --rm criminal-map npm run lint

      # - name: Trigger Vercel Deploy
      #   run: |
      #     curl -X POST https://api.vercel.com/v1/integrations/deploy/${{secrets.VERCEL_DEPLOY_HOOK}}